[interestfor] {
    interest-delay: 0.1s;
}

.web-popover,
[popover] {
    margin: 0 auto;
    opacity: 0;
    transition:
        display 0.7s ease-out allow-discrete,
        overlay 0.7s ease-out allow-discrete,
        opacity 0.7s ease-out;

    /* ON STAGE */
    &:popover-open,
    &:popover-open::backdrop,
    [open],
    [open]::backdrop {
        opacity: 1;

        /* OFF STAGE */
        @starting-style {
            opacity: 0;
        }
    }
}

/*  for polyfill this must be a custom property */
[interestfor] {
    --interest-delay-start: 0.1s;
    --interest-delay-end: 0.1s;
    interest-delay-start: var(--interest-delay-start);
    interest-delay-end: var(--interest-delay-end);
}