[interestfor] {
    interest-delay: 0.1s;
}

.web-popover,
[popover] {
    --w-popover-size: 0.5rem;

    padding: 0;
    position: relative;
    overflow: visible;
    border-radius: var(--w-radius-large);
    background-color: light-dark(white, black);

    position-anchor: --anchor-icon;
    inset: auto;
    position-area: block-start;
    position-try-fallbacks: flip-block;
    margin-block: var(--w-popover-size, 0.5rem);
    position-try-order: most-height;
    position-visibility: anchors-visible;

    .web-popover__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        font-weight: bold;
    }

    .web-popover__close-button {
        position: absolute;
        inset-block-start: -10px;
        inset-inline-end: -10px;
        aspect-ratio: 1;
        line-height: 1;
        inline-size: 1.65rem;
        block-size: 1.65rem;
        font-size: 1.25rem;
    }

    &,
    &::backdrop {
        transition:
            display 0.5s allow-discrete,
            overlay 0.5s allow-discrete,
            opacity 0.5s,
            transform 0.5s;

        /* Exit Stage To */
        opacity: 0;
    }

    & {
        transform: translateY(10px);
    }

    /* On Stage */
    &:popover-open {
        opacity: 1;
        transform: translateY(0);

        &::backdrop {
            opacity: 0.5;
        }
    }

    /* Enter Stage From */
    @starting-style {

        &:popover-open,
        &:popover-open::backdrop {
            opacity: 0;
        }

        &:popover-open {
            transform: translateY(10px);
        }
    }
}

/*  for polyfill this must be a custom property */
[interestfor] {
    --interest-delay-start: 0.1s;
    --interest-delay-end: 0.1s;
    interest-delay-start: var(--interest-delay-start);
    interest-delay-end: var(--interest-delay-end);
}