@import '../../_common/var';

:root {
  --w-checkbox-radius: 4px;
  --w-checkbox-size: 20px;
  --w-checkbox-checked-color: var(--color-primary);
}

$btn-sizes: (
  small: 0.8,
  default: 1,
  medium: 1.15,
  large: 1.3
);

.w-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  z-index: 1;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    appearance: none;

    &:not(:disabled):active ~ .w-checkbox__marker {
      transform: scale(0.8);
      transition: transform 0.2s;
    }

    &:checked ~ .w-checkbox__marker {
      color: var(--w-checkbox-checked-color);
      background-color: currentColor;

      &::after {
        display: block;
        opacity: 1;
      }
    }

    &:indeterminate ~ .w-checkbox__marker {
      --w-checkbox-checked-color: #cbcbcb;
      color: var(--w-checkbox-checked-color);
      background-color: currentColor;

      &::after {
        display: block;
        opacity: 1;
        border-width: 0 2px 0 0;
        transform: rotate(90deg);
      }
    }

    &:focus ~ .w-checkbox__marker {
      &::before {
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(1.65);
      }
    }
  }

  &__marker {
    position: absolute;
    top: 2px;
    left: 0;
    height: var(--w-checkbox-size);
    width: var(--w-checkbox-size);
    background-color: #fff;
    border-radius: var(--w-checkbox-radius);
    // box-shadow: inset 0 0 0 1px currentColor;
    border: 2px solid currentColor;
    box-sizing: border-box;
    transition:
      background-color 0.2s,
      transform 0.2s,
      box-shadow 0.2s;

    &:hover {
      color: var(--w-checkbox-checked-color);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      border-radius: var(--w-checkbox-radius);
      background-color: currentColor;
      transform: translate(-50%, -50%) scale(0);
      will-change: transform;
      transition: transform 0.2s;
    }

    &::after {
      opacity: 0;
      left: 5px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: all 0.3s;
    }
  }

  // sizes
  @each $key, $value in $btn-sizes {
    &.w-checkbox__#{$key} {
      .w-checkbox__marker {
        transform: scale(#{$value});
      }
    }
  }

  // themes
  @each $theme-name, $theme-value in $themes {
    &.w-checkbox__#{$theme-name} {
      --w-checkbox-checked-color: #{$theme-value};
    }
  }

  &.is-disabled {
    opacity: var(--w-disabled-opacity);
    cursor: not-allowed;
  }
}
