{
  "printWidth": 100,
  "eslintIntegration": true,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "endOfLine": "auto"
}
