@import '../../_common/index';

:root {
  --w-input-padding: 1.85em;
  --w-input-color: white;
  --w-input-radius: 14px;
}

$input-sizes: (
  small: 0,
  medium: 0.25rem,
  large: 0.5rem
);

.w-input__group {
  display: flex;
  flex-direction: column;

  .w-input__main-wrapper {
    display: inline-flex;
    align-items: center;
  }
}

.w-input {
  position: relative;

  svg {
    font-size: 1.5rem;
  }

  &__input {
    width: 100%;
    height: 100%;
    @extend .form-control;
    appearance: none;

    &:placeholder-shown {
      background-color: var(--color-bg-dark);

      + .float-label {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        transform: translateY(-25%);
      }
    }

    &:focus,
    &:focus-within {
      ~ svg {
        color: var(--color-primary);
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    appearance: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .float-label {
    background: var(--color-bg);
    padding: var(--space-4xs) var(--space-3xs);
    border-radius: var(--radius-md);
    line-height: 1;
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
    position: absolute;
    top: 0;
    left: calc(var(--space-sm) - var(--space-3xs));
    transform: translateY(-50%);
    transition:
      transform 0.2s ease-out,
      color 0.2s;
    clip: auto;
    clip-path: none;
  }

  &__helper-wrapper {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;

    .description,
    .error-message {
      font-size: var(--w-font-size-tiny);
      line-height: var(--w-line-height-tiny);
    }

    .error-message {
      color: var(--color-danger);
    }
  }

  &.is-disabled {
    .w-input__input {
      height: 100%;
    }
  }
}
