@import '../../_common/var';

:root {
  --w-input-padding: 1.85em;
  --w-input-color: white;
  --w-input-radius: 14px;
}

$input-sizes: (
  small: 0,
  medium: 0.25rem,
  large: 0.5rem
);

.form-control {
  background: var(--color-bg-dark);
  padding: var(--space-2xs) var(--space-xs);
  font-size: 1em;
  line-height: 1.2;
  border: 2px solid var(--color-contrast-lower);
  border-radius: var(--w-radius-small);
  box-sizing: border-box;
  transition: 0.2s;

  &[readonly],
  &:disabled {
    opacity: var(--w-disabled-opacity);
    cursor: not-allowed;
  }

  &:focus,
  &:focus-within {
    background: var(--color-bg);
    border: 2px solid var(--color-primary);
    outline: none;
  }
}

.w-input {
  position: relative;
  display: inline-flex;
  align-items: center;

  .end,
  .start {
    display: inline-flex;
    position: absolute;
    top: 6px;
  }

  .start {
    left: 6px;
  }

  .end {
    right: 6px;
  }

  svg {
    font-size: 1.5rem;
    position: absolute;
    top: 6px;

    &:first-of-type {
      left: 6px;
    }

    &:last-of-type {
      right: 6px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    @extend .form-control;
    appearance: none;

    &:placeholder-shown {
      background-color: var(--color-bg-dark);

      + .float-label {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        transform: translateY(-25%);
      }
    }

    &:focus,
    &:focus-within {
      ~ svg {
        color: var(--color-primary);
      }
    }
  }

  .float-label {
    background: var(--color-bg);
    padding: var(--space-4xs) var(--space-3xs);
    border-radius: var(--radius-md);
    line-height: 1;
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
    position: absolute;
    top: 0;
    left: calc(var(--space-sm) - var(--space-3xs));
    transform: translateY(-50%);
    transition:
      transform 0.2s ease-out,
      color 0.2s;
    clip: auto;
    clip-path: none;
  }

  &.w-input__start {
    .w-input__input {
      padding-left: var(--w-input-padding);
    }
  }

  &.w-input__end {
    .w-input__input {
      padding-right: var(--w-input-padding);
    }

    svg {
      left: auto;
    }
  }

  &.is-rounded {
    border-radius: var(--w-radius-full);

    .w-input__img {
      height: 100%;
    }
  }

  &.is-blurred {
    filter: drop-shadow(0 0 10px black);
  }
}
