@import '../../_common/index';

:root {
  --w-pagination-size: 2.25rem;
}

$sizes: (
  small: -0.25,
  medium: 0,
  large: 0.25
);

.w-pagination {
  &__list {
    --row-gap: var(--space-3xs);
    --column-gap: var(--space-3xs);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--row-gap) var(--column-gap);

    > li {
      display: inline-flex;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--w-pagination-size);
    height: var(--w-pagination-size);
    text-decoration: none;
    border-radius: var(--w-radius-medium);
    color: var(--color-contrast-high);
    user-select: none;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.2s;

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      background-color: rgba(20, 21, 26, 0.1);
    }

    &.w-pagination__item-selected {
      color: var(--color-bg);
      background-color: var(--color-contrast-higher);
      box-shadow: var(--shadow-sm);
    }

    &.w-pagination__item-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__jumper {
    display: flex;
    align-items: center;

    input {
      padding-right: 0;
      min-width: 3rem;
      width: 3rem;
      height: 2.25rem;
      margin-right: var(--space-xs);
    }
  }

  &__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  // sizes
  @each $key, $val in $sizes {
    &.w-pagination__#{$key} {
      --w-pagination-size: #{$val + 2.25rem};
    }
  }

  // themes
  @each $key, $val in $themes {
    &.w-pagination__#{$key} {
      .w-pagination__item-selected {
        background-color: $val;
      }
    }
  }
}
