@import '../../_common/index';

:root {
  --w-pagination-size: 2.25rem;
}

$sizes: (
  small: -0.25,
  medium: 0,
  large: 0.25
);

.w-pagination {
  margin: -0.625rem;
  padding: 0.625rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;

    > li {
      display: inline-flex;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--w-pagination-size);
    height: var(--w-pagination-size);
    text-decoration: none;
    background-color: var(--color-contrast-lower);
    border-radius: var(--w-radius-medium);
    color: var(--color-contrast-high);
    user-select: none;
    cursor: pointer;
    will-change: transform;
    transition:
      transform 0.2s,
      background-color 0.2s;

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      background-color: rgba(20, 21, 26, 0.1);
    }

    &.w-pagination__item-disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.w-pagination__item-ellipsis {
      position: relative;

      .w-icon {
        opacity: 0;
        position: absolute;
      }

      &:hover {
        background-color: rgba(150, 150, 150, 0.242);

        .w-icon {
          opacity: 1;
        }

        .w-pagination__item-dots {
          opacity: 0;
        }
      }
    }
  }

  &__item-shuttle {
    position: absolute;
    left: 0;
    transform-origin: center;
    color: var(--color-bg);
    background-color: var(--color-primary);
    box-shadow: var(--shadow-sm);
    z-index: 20;

    &:hover {
      background-color: var(--color-primary);
    }

    &[data-moving='true'] {
      transition-property: transform;
      transition-timing-function: ease;
      transition-duration: 0.25s;
    }
  }

  &__jumper {
    display: flex;
    align-items: center;

    input {
      padding-right: 0;
      min-width: 3rem;
      width: 3rem;
      height: 2.25rem;
      margin-right: var(--space-xs);
    }
  }

  &__btn {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &.is-compact {
    .w-pagination__list {
      gap: 0;

      .w-pagination__item {
        border-radius: 0;
      }

      .w-pagination__item-prev {
        @include border-half-radius(left, var(--w-radius-medium));
      }

      .w-pagination__item-next {
        @include border-half-radius(right, var(--w-radius-medium));
      }
    }
  }

  &.w-pagination__bordered {
    .w-pagination__list {
      .w-pagination__item:not(.w-pagination__item-shuttle) {
        background-color: transparent;
        border: 2px solid var(--color-contrast-lower);
      }
    }
  }

  &.w-pagination__light {
    .w-pagination__list {
      .w-pagination__item:not(.w-pagination__item-shuttle) {
        background-color: transparent;
      }
    }
  }

  &.w-pagination__faded {
    .w-pagination__list {
      .w-pagination__item:not(.w-pagination__item-shuttle) {
        background-color: fade-out(hsl(240, 4%, 85%), 0.6);
      }
    }
  }

  // sizes
  @each $key, $val in $sizes {
    &.w-pagination__#{$key} {
      --w-pagination-size: #{$val + 2.25rem};
    }
  }

  // themes
  @each $key, $val in $themes {
    &.w-pagination__#{$key} {
      .w-pagination__item-shuttle {
        background-color: $val;
      }
    }
  }
}
