:root {
  --w-checkbox2-border-width: 1px;
  --w-checkbox2-radius: 4px;
  --w-checkbox2-size: 20px;
  --shadow-xs: rgba(20, 21, 26, 0.02) 0px 0px 0px 1px, rgba(20, 21, 26, 0.2) 0px 1px 3px -1px;
}

.w-checkbox2 {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  user-select: none;

  &__input {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    appearance: none;

    &:active ~ .w-checkbox2__marker {
      transform: scale(0.8);
      transition: transform 0.2s;
    }

    &:focus ~ .w-checkbox2__marker {
      box-shadow: rgba(72, 39, 236, 0.2) 0 0 0 3px;
    }

    &:checked ~ .w-checkbox2__marker {
      color: var(--color-primary);
      background-color: currentColor;

      .w-checkbox2__marker-icon {
        path {
          stroke-dasharray: 18;
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--w-checkbox2-size);
    height: var(--w-checkbox2-size);
    background-color: #fff;
    border: 2px solid currentColor;
    border-radius: var(--w-checkbox2-radius);
    box-sizing: border-box;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;

    &-icon {
      display: inline-block;
      height: 1em;
      width: 1em;
      color: white;
      fill: currentColor;
      font-size: 1em;
      line-height: 1;
      flex-shrink: 0;
      max-width: initial;

      path {
        transition: stroke-dashoffset 0.3s;
        stroke-dasharray: 18;
        stroke-dashoffset: 18;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .w-checkbox2__marker {
      color: var(--color-primary);
    }
  }
}
