:root {
  --grid-rows: 1;
  --grid-column: 12;
}


$rows: 1;
$columns: 12;
$gap: 15px;
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin create-selectors($breakpoint: null) {
  $infix: if($breakpoint ==null, '', '__#{$breakpoint}');

  @for $i from 1 through $columns {
    .w-col#{$infix}-#{$i} {
      grid-column-end: span $i;
    }

    .w-col__offset#{$infix}-#{$i} {
      grid-column-start: $i + 1;
    }

    .w-row#{$infix}-#{$i} {
      grid-row-end: span $i;
    }

    .w-row__offset#{$infix}-#{$i} {
      grid-row-start: $i + 1;
    }
  }
}

.w-grid {
  display: grid;
  grid-template-rows: repeat($rows, 1fr);
  grid-template-columns: repeat($columns, 1fr);
  row-gap: var(--w-grid-row-gap, 15px);
  column-gap: var(--w-grid-column-gap, 15px);

  .w-grid__item {
    grid-column-start: span $columns;
  }

  @include create-selectors;

  @each $breakpoint,
  $width in $breakpoints {
    @media (min-width: #{$width}) {
      @include create-selectors($breakpoint);
    }
  }
}