@use '../../_common/var' as *;

:root {
  --w-radio-radius: 50%;
  --w-radio-size: 10px;
  --w-radio-checked-color: var(--color-primary);
}

$radio-sizes: (
  default: 1,
  medium: 1.15,
  large: 1.3
);

.w-radio {
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  position: relative;
  z-index: 1;
  cursor: pointer;
  user-select: none;

  &__input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: var(--w-radio-size);
    height: var(--w-radio-size);
    cursor: pointer;

    &:not(:disabled):active ~ .w-radio__marker {
      transform: scale(0.8);
      transition: transform 0.2s;
    }

    &:checked ~ .w-radio__marker {
      color: var(--w-radio-checked-color);
      background-color: currentColor;

      &::after {
        display: block;
        opacity: 1;
      }
    }

    &:focus ~ .w-radio__marker {
      &::before {
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(1.75);
      }
    }
  }

  &__marker {
    position: relative;
    inset: 0;
    margin-right: 0.5rem;
    height: 20px;
    width: 20px;
    color: #c8c8c8;
    background-color: #fff;
    border-radius: var(--w-radio-radius);
    // box-shadow: inset 0 0 0 1px currentColor;
    border: 2px solid currentColor;
    box-sizing: border-box;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      transform 0.2s,
      box-shadow 0.2s;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transform: translate(-50%, -50%) scale(0);
      will-change: transform;
      transition: transform 0.2s;
    }

    &::after {
      opacity: 0;
      left: 50%;
      top: 50%;
      width: var(--w-radio-size);
      height: var(--w-radio-size);
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
  }

  &:hover {
    .w-radio__input {
      &:not(:checked) ~ .w-radio__marker {
        color: var(--w-radio-checked-color);
      }
    }
  }

  // sizes
  @each $key, $value in $radio-sizes {
    &.w-radio__#{$key} {
      .w-radio__marker {
        transform: scale(#{$value});
      }
    }
  }

  // themes
  @each $theme-name, $theme-value in $themes {
    &.w-radio__#{$theme-name} {
      --w-radio-checked-color: #{$theme-value};
    }
  }

  &.is-disabled {
    opacity: var(--w-disabled-opacity);
    cursor: not-allowed;
  }
}
