@import '../../_common/index';

.w-input-password {
  position: relative;

  &__btn {
    display: inline-flex;
    align-items: center;
    padding: 0;
    appearance: none;
    user-select: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &:not(:disabled):focus,
    &:not(:disabled):focus-visible {
      outline: none;
    }
  }
}
