.web-popover,
[popover] {
    background: black;
    color: white;
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    max-width: 20ch;
    line-height: 1.4;
    top: 2rem;
    margin: 0 auto;
    transition:
        translate 0.7s ease-out,
        display 0.7s ease-out allow-discrete,
        overlay 0.7s ease-out allow-discrete;
    translate: 0 -22rem;

    &:popover-open {
        translate: 0 0;
    }
}

@starting-style {
    .web-popover:popover-open,
    [popover]:popover-open {
        translate: 0 -22rem;
    }
}
