@use '_Common/_var' as *;

:root {
  --menu-item-height: 44px;
}

.w-menu__list {
  list-style: none;

  .w-menu__item {
    position: relative;

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.375rem 9px 0.375rem 33px;
      height: var(--menu-item-height);
      font-size: var(--w-font-size-medium);
      border-radius: var(--w-radius-medium);
      color: hsla(var(--color-contrast-high-hsl), 0.9);
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: var(--color-primary);
        background-color: rgba(20, 21, 26, 0.05);
      }

      .w-menu__text {
        flex: 1 1 0%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.is-selected {
      .w-menu__item-link {
        color: var(--color-primary);
        background-color: rgba(20, 21, 26, 0.05);
      }
    }
  }
}
