:root {
  --menu-item-height: 32px;
}

.w-menu {
  list-style: none;

  .w-menu__item {
    position: relative;

    &-link {
      align-items: center;
      border-radius: var(--radius-md);
      color: hsla(var(--color-contrast-high-hsl), 0.9);
      display: flex;
      font-size: var(--text-md);
      height: var(--menu-item-height);
      padding: 0 9px 0 33px;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        background-color: rgba(20, 21, 26, 0.05);
      }

      .w-menu__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: var(--space-2xs);
      }
    }

    .start {
      margin-right: 8px;
    }

    .end {
      margin-left: auto;
    }
  }
}
