.w-menu__item-group {
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(20, 21, 26, 0.1);
  }

  > .w-menu__text {
    padding-inline-start: 22px;
    line-height: var(--menu-item-height);
    font-size: var(--w-font-size-small);
    color: var(--color-contrast-medium);
  }
}
