@import '../../_common/var';

:root {
  --w-image-padding: 0.25rem;
  --w-image-color: white;
  --w-image-radius: 14px;
}

$image-sizes: (
  small: 0,
  medium: 0.25rem,
  large: 0.5rem
);

.w-image {
  position: relative;
  border-radius: var(--w-image-radius);
  overflow: hidden;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: inherit;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  &.is-rounded {
    border-radius: var(--w-radius-full);

    .w-image__img {
      height: 100%;
    }
  }

  &.is-blurred {
    filter: drop-shadow(0 0 10px black);
  }

  &.is-zoomed {
    .w-image__img {
      object-fit: cover;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
