@import '../../_common/var';

:root {
  --w-button-border-radius: 6px;
  --w-button-height: 32px;
}

.w-button {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  touch-action: manipulation;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.5;
  height: var(--w-button-height, 32px);
  -webkit-tap-highlight-color: transparent;
  border-radius: var(--w-button-border-radius, 6px);
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:not(:disabled):active {
    transform: translateY(2px);

    &::after {
      opacity: 1;
      outline: none;
      box-shadow: none;
      transition: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: 0.45s;
  }

  & {
    background-color: #fff;
    border-color: #e0e0e6;
    border-style: solid;

    &:hover {
      color: map-get($themes, 'brand');
      border-color: map-get($themes, 'brand');
    }

    &:not(:disabled):focus-visible {
      outline: 2px solid map-get($themes, 'brand');
      outline-offset: 2px;
    }

    &::after {
      // box-shadow: 0 0 0 8px currentColor;
      outline: 8px solid currentColor;
    }
  }

  &.is-dashed {
    border-style: dashed;
  }

  &.is-round {
    --w-button-border-radius: 16px;
  }

  &.is-plain {
    background-color: transparent;
  }

  @each $theme-name, $theme-value in $themes {
    &.w-button__#{$theme-name} {
      color: if($theme-name == 'light', #888, #fff);
      background-color: $theme-value;
      border-color: $theme-value;
      border-style: solid;

      &:active,
      &:hover {
        background-color: darken($theme-value, 10%);
        border-color: darken($theme-value, 10%);
      }

      &:not(:disabled):focus-visible {
        outline: 2px solid $theme-value;
        outline-offset: 2px;
      }

      &::after {
        // box-shadow: 0 0 0 8px $theme-value;
        outline: 8px solid $theme-value;
      }

      &.is-plain {
        color: $theme-value;
        background-color: transparent;

        &:active {
          background-color: lighten($color: #000, $amount: 85);
        }
      }
    }
  }
}
