@import '../../_common/var';

.w-button {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  touch-action: manipulation;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.5;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  will-change: transform, background-color, border-color, box-shadow;
  transition: all 0.2s ease-in;

  &:not(:disabled):active {
    transform: translateY(2px);
  }

  &.w-button__default {
    background-color: #fff;
    border-color: #e0e0e6;
    border-style: solid;

    &:active,
    &:hover {
      color: map-get($themes, 'brand');
      border-color: map-get($themes, 'brand');
    }

    &:focus {
      box-shadow: inset 0 0 0 #fff, 0 0 0 2px #fff, 0px 0px 0px 4px map-get($themes, 'brand');
    }
  }

  @each $theme-name, $theme-value in $themes {
    &.w-button__#{$theme-name} {
      color: if($theme-name == 'light', #888, #fff);
      background: $theme-value;
      border-color: $theme-value;
      border-style: solid;

      &:active,
      &:hover {
        background: darken($theme-value, 10%);
        border-color: darken($theme-value, 10%);
      }

      &:focus {
        box-shadow: inset 0 0 0 #fff, 0 0 0 2px #fff, 0px 0px 0px 4px $theme-value;
      }

      &:focus-visible {
        outline: 2px solid #91caff;
        outline-offset: 1px;
        transition: outline-offset 0s, outline 0s;
      }
    }
  }
}
