@import '../../_common/var';

.w-avatar-group {
  display: flex;

  .w-avatar {
    --w-avatar-group-offset: -0.35em;
    margin-left: var(--w-avatar-group-offset);

    &:hover {
      transition: transform 0.25s;
      transform: translateX(var(--w-avatar-group-offset));
    }

    .w-avatar__figure {
      box-shadow: 0 0 0 3px var(--color-bg);
    }
  }
}
