@use 'sass:string';
@use 'sass:list';

@import '../../_common/index';

:root {
  --w-table-size: 2.25rem;
  --w-table-color: white;
  --w-table-delay: 0.2s;
}

$sizes: (
  small: -0.25,
  medium: 0,
  large: 0.25
);

.w-table-wrapper {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: var(--w-radius-large);
  box-shadow: var(--w-shadow);
}

.w-table {
  min-width: 100%;
  width: 100%;
  height: auto;
  table-layout: auto;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;

  .w-table__thead {
    tr {
      th {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        height: 2.5rem;
        line-height: var(--w-line-height-tiny);
        font-size: var(--w-font-size-tiny);
        font-weight: 600;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #e1e1e1;

        &:first-child {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }

      &.w-table__thead-empty {
        display: block;
        width: 1px;
        height: 1px;
        margin-left: 0.25rem;
        margin-top: 0.25rem;
      }
    }
  }

  .w-table__tbody {
    tr {
      td {
        position: relative;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        height: 2.5rem;
        line-height: var(--w-line-height-small);
        font-size: var(--w-font-size-small);
        font-weight: 400;
        text-align: left;
        white-space: normal;
        vertical-align: middle;

        &.empty-content {
          height: 10rem;
          text-align: center;
          vertical-align: middle;
          color: var(--color-contrast-low);
        }
      }

      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 0.5rem;
          }

          &:last-child {
            border-top-right-radius: 0.5rem;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }
        }
      }

      &.is-row-disabled {
        td {
          cursor: not-allowed;
          color: var(--color-contrast-low);
          opacity: 0.5;
        }
      }
    }
  }

  &__selection-single {
    .w-table__tbody {
      tr {
        td {
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }

  // themes
  @each $theme-name, $theme-value in $themes {
    @if $theme-name == 'default' {
      .w-table__tbody {
        tr {
          &.is-row-selected {
            cursor: default;
            background-color: rgba($theme-value, 0.2);
          }
        }
      }
    } @else {
      &.w-table__#{$theme-name} {
        .w-table__tbody {
          tr {
            &.is-row-selected {
              td {
                cursor: default;
                color: $theme-value;
                background-color: rgba($theme-value, 0.2);
              }
            }
          }
        }
      }
    }
  }

  &.is-bordered {
    .w-table__thead {
      tr {
        &:first-child {
          box-shadow: 0 2px 0 var(--color-contrast-lower);
        }

        th {
          background-color: transparent;
        }
      }
    }
    .w-table__tbody {
      box-shadow: 0 2px 0 var(--color-contrast-lower);
      tr:not(:last-child) {
        border-bottom: 1px solid var(--color-contrast-lower);
      }
    }
  }

  &.is-hoverable {
    .w-table__tbody {
      tr:hover {
        td {
          background-color: #f5f4f5;
        }
      }
    }
  }

  &.is-striped {
    .w-table__tbody {
      tr:nth-child(even) {
        td {
          background-color: #f5f4f5;
        }
      }
    }
  }
}
