// Themes
// ============================================================
$themes: (
  // default: #d4d4d8,
  default: #b4b4b4,
  primary: #4827ec,
  success: #52c41a,
  warning: #faad14,
  danger: #ff4d4f,
  info: #1890ff
);
