:root {
  --w-grid-column-gap: 15px;
  --w-grid-row-gap: 15px;
  --w-grid-gap: 15px;

  --border-radius: 4px;

  --color-primary: #1890ff;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-danger: #ff4d4f;
  --color-info: #1890ff;
}

// Themes
// ============================================================
$themes: (
  primary: #1890ff,
  success: #52c41a,
  warning: #faad14,
  danger: #ff4d4f,
  info: #1890ff,
  brand: #2ecc71,
  focus: #8e44ad
);
