@import '../../_common/var';

:root {
  --w-badge-padding: 4px 8px;
  --w-badge-color: white;
  --w-badge-border-radius: 6px;
}

.w-badge__wrapper {
  position: relative;
  display: inline-block;
}

.w-badge {
  margin: 0;
  padding: var(--w-badge-padding);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  line-height: 1;
  border: 0;
  border-radius: var(--w-badge-border-radius);
  color: inherit;
  background-color: var(--color-contrast-lower);
  appearance: none;
  box-sizing: border-box;

  @each $theme-name, $theme-value in $themes {
    &.w-badge__#{$theme-name} {
      color: var(--color-white);
      background-color: $theme-value;

      &.w-badge__outlined {
        color: $theme-value;
        background-color: transparent;
        border: 1px solid currentColor;
      }
    }

    &.w-badge__#{$theme-name}-light {
      color: var(--color-contrast-higher);
      background-color: fade-out($color: $theme-value, $amount: 0.65);
    }
  }
}
