@import '../../_common/var';
:root {
  --w-badge-padding: 0 4px;
  --w-badge-color: white;
}

.w-badge {
  margin: 0;
  padding: var(--w-badge-padding);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  height: 1rem;
  line-height: 1.2;
  border-radius: 999px;
  font-size: 0.8rem;
  color: var(--w-badge-color);
  box-sizing: border-box;

  &.middle {
    vertical-align: middle;
  }

  &.top {
    vertical-align: top;
  }

  @each $theme-name, $theme-value in $themes {
    &.w-badge__#{$theme-name} {
      background-color: $theme-value;
    }
  }
}
