@import '../../_common/var';

:root {
  --w-chip-padding: 0.25rem;
  --w-chip-color: white;
}

$chip-sizes: (
  small: 0,
  medium: 0.25rem,
  large: 0.5rem
);

.w-chip {
  margin: 0;
  padding-left: var(--w-chip-padding);
  padding-right: var(--w-chip-padding);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 2rem;
  max-width: fit-content;
  height: 1.75rem;
  line-height: 1.25rem;
  font-size: var(--w-font-size-small);
  border: 0;
  border-radius: var(--w-radius-full);
  color: var(--color-contrast-higher);
  background-color: var(--color-contrast-lower);
  appearance: none;
  box-sizing: border-box;

  &__text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  // sizes
  @each $key, $value in $chip-sizes {
    &.w-chip__#{$key} {
      height: #{1.5rem + $value};

      @if $key == 'large' {
        font-size: var(--w-font-size-medium);
      }

      .w-chip__text {
        padding-left: #{0.25rem + $value};
        padding-right: #{0.25rem + $value};
      }
    }
  }

  // themes
  @each $theme-name, $theme-value in $themes {
    &.w-chip__#{$theme-name} {
      color: var(--color-white);
      background-color: $theme-value;

      &.is-outlined {
        color: $theme-value;
        background-color: transparent;
        border: 1px solid currentColor;
      }
    }

    &.w-chip__#{$theme-name}-light {
      color: var(--color-contrast-higher);
      background-color: fade-out($color: $theme-value, $amount: 0.65);
    }
  }

  &.is-disabled {
    opacity: var(--w-disabled-opacity);
    pointer-events: none;
  }
}
