@import '../../_common/var';

:root {
  --w-chip-padding: 0.25rem;
  --w-chip-color: white;
}

$chip-sizes: (
  small: 0,
  medium: 0.25rem,
  large: 0.5rem
);

.w-chip {
  margin: 0;
  padding-left: var(--w-chip-padding);
  padding-right: var(--w-chip-padding);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 2rem;
  max-width: fit-content;
  height: 1.75rem;
  line-height: 1.25rem;
  font-size: var(--w-font-size-small);
  border: 0;
  border-radius: var(--w-radius-full);
  color: var(--color-contrast-higher);
  background-color: rgb(212, 212, 216);
  appearance: none;
  box-sizing: border-box;

  &__text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    appearance: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  // sizes
  @each $key, $value in $chip-sizes {
    &.w-chip__#{$key} {
      height: #{1.5rem + $value};

      @if $key == 'large' {
        font-size: var(--w-font-size-medium);
      }

      .w-chip__text {
        padding-left: #{0.25rem + $value};
        padding-right: #{0.25rem + $value};
      }
    }
  }

  // themes
  @each $theme-name, $theme-value in $themes {
    &.w-chip__#{$theme-name} {
      color: var(--color-white);
      background-color: $theme-value;

      &.is-outlined {
        color: $theme-value;
        background-color: transparent;
        border: 1px solid currentColor;
      }

      &.is-flat {
        color: var(--color-contrast-higher);
        background-color: fade-out($color: $theme-value, $amount: 0.6);
      }
    }
  }

  &.is-flat {
    color: var(--color-contrast-higher);
    background-color: rgba(212, 212, 216, 0.4);
  }

  &.is-outlined {
    background-color: transparent;
    border: 1px solid currentColor;
  }

  &.is-disabled {
    opacity: var(--w-disabled-opacity);
    pointer-events: none;
  }
}
