@use '../../_common/var' as *;

:root {
  --w-input-search-padding: 1.85em;
  --w-input-search-color: white;
  --w-input-search-radius: 14px;
}

.w-input-search {
  position: relative;

  &__btn {
    display: inline-flex;
    align-items: center;
    padding: 0;
    appearance: none;
    user-select: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &:not(:disabled):focus,
    &:not(:disabled):focus-visible {
      outline: none;
    }
  }
}
