@use 'sass:string';
@use 'sass:list';

@import '../../_common/index';

:root {
  --w-tooltip-size: 2.25rem;
  --w-tooltip-color: white;
}

$sizes: (
  small: -0.25,
  medium: 0,
  large: 0.25
);

$placements: top, top-start, top-end, bottom, bottom-start, bottom-end, left, left-start, left-end, right, right-start,
  right-end;

@function slicePlacement($string, $type: 'start', $divider: '-') {
  @return string.split($string, $start: 0, $end: -at);
}

@mixin arrow($placement: top-start) {
  $splitedString: string.split($placement, '-');
  $vertical: top, bottom;
  $horizontal: left, right;
  $dir: nth($splitedString, 1);
  $sub: if(length($splitedString) > 1, nth($splitedString, 2), null);

  // @debug $dir, $sub;

  // A.direction
  @if $dir != null {
    #{$dir}: 100%;
    border-#{$dir}-color: var(--w-tooltip-color);
  }

  // B.sub-direction
  @if $sub != null {
    // vertical
    @if list.index($vertical, $dir) {
      @debug $dir, $sub;
      @if $sub == start {
        left: 14px;
      } @else {
        right: 14px;
      }
    }

    // horizontal
    @if list.index($horizontal, $dir) {
      @if $sub == start {
        top: 14px;
      } @else {
        bottom: 14px;
      }
    }
  } @else {
    // horizontal
    @if list.index($horizontal, $dir) {
      top: 50%;
      transform: translateY(-50%);
    } @else if list.index($vertical, $dir) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

[data-v-target] {
  cursor: help;
}

.w-tooltip {
  margin: 0 16px;
  position: absolute;
  z-index: 10000;
  opacity: 0;

  &[data-open='true'] {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 100% 0px;
  }

  &__content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 1rem;
    font-size: var(--w-font-size-small);
    line-height: var(--w-line-height-small);
    border-radius: var(--w-radius-small);
    background-color: var(--color-white);
    box-shadow: var(--w-shadow);
  }

  // colors
  @each $theme-name, $theme-value in $themes {
    &.w-tooltip__#{$theme-name} {
      &.is-arrowed {
        --w-tooltip-color: var(--color-#{$theme-name});
      }

      .w-tooltip__content {
        background-color: $theme-value;
        color: #fff;
      }
    }
  }

  &.is-arrowed {
    &:before {
      content: '';
      position: absolute;
      background: 0 0;
      border: 6px solid transparent;
      transition: 0.3s ease;
      filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.6));
      z-index: 10001;
    }

    // placements
    @each $p in $placements {
      &.w-tooltip__#{$p} {
        &:before {
          @include arrow($p);
        }
      }
    }
  }
}
