:host,
:root {
    /* follow the user preferences */
    color-scheme: light dark;

    /* brand */
    --w-color-brand: #f0bd26;
    --w-color-brand-hover: #f2d92c;

    /* theme */
    --w-color-default: light-dark(#e4e4e7, #2e2e2e);
    --w-color-primary: light-dark(#006fee, #0078d4);
    --w-color-secondary: light-dark(#9353d3, #8a47c4);
    --w-color-success: light-dark(#00c853, #00b359);
    --w-color-warning: light-dark(#ff9800, #ff9800);
    --w-color-info: light-dark(#009688, #009688);
    --w-color-danger: light-dark(#f44336, #f44336);

    /* theme-hover */
    --w-color-default-hover: light-dark(#c9c9cf, #4d4d52);
    --w-color-primary-hover: light-dark(#005bc4, #0078d4);
    --w-color-secondary-hover: light-dark(#6d37a3, #8a47c4);
    --w-color-success-hover: light-dark(#009e4b, #00b359);
    --w-color-warning-hover: light-dark(#e68000, #ff9800);
    --w-color-danger-hover: light-dark(#d3382c, #f44336);

    /* color-contrast */
    --w-color-contrast-lower: hsl(240, 6%, 26%);
    --w-color-contrast-low: hsl(231, 3%, 41%);
    --w-color-contrast-medium: hsl(231, 3%, 57%);
    --w-color-contrast-high: hsl(240, 5%, 82%);
    --w-color-contrast-higher: hsl(240, 100%, 99%);

    /* radius */
    --w-radius-none: 0;
    --w-radius-tiny: 4px;
    --w-radius-small: 8px;
    --w-radius-medium: 12px;
    --w-radius-large: 14px;
    --w-radius-full: 9999px;

    /* space */
    --w-space-4xs: clamp(0.125rem, calc(0.125rem + 0vw), 0.125rem);
    --w-space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
    --w-space-2xs: clamp(0.5rem, calc(0.5rem + 0vw), 0.5rem);
    --w-space-xs: clamp(0.75rem, calc(0.75rem + 0vw), 0.75rem);
    --w-space-sm: clamp(1rem, calc(1rem + 0vw), 1rem);
    --w-space-md: clamp(1.5rem, calc(1.125rem + 0.78125vw), 1.75rem);
    --w-space-lg: clamp(2.25rem, calc(1.125rem + 2.34375vw), 3rem);
    --w-space-xl: clamp(3.5rem, calc(1.25rem + 4.6875vw), 5rem);
    --w-space-2xl: clamp(5.75rem, calc(2.375rem + 7.03125vw), 8rem);
    --w-space-3xl: clamp(9.25rem, calc(4.75rem + 9.375vw), 12.25rem);
    --w-space-4xl: clamp(15rem, calc(7.5rem + 15.625vw), 20rem);
}
