:where(.w-popover-content) {
    --popover-bg: #fff;
    --popover-gap: 8px;
}

.w-popover-content {
    --w-popover-distance: 1em;

    position: absolute;
    bottom: var(--w-popover-distance);
    position-try-fallbacks: flip-block;
}
