@import '../../_common/index';

:root {
  --w-modal-max-width: 32rem;
  --w-modal-backdrop-blur: blur(4px);
  --w-modal-scale-enter: 1;
}

$placements: (
  auto: center,
  top: flex-start,
  bottom: flex-end,
  center: center,
  top-center: center,
  bottom-center: center
);

.w-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-x: auto;
  perspective: 800px;

  .w-modal__overlay {
    position: absolute;
    inset: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;

    &-blur {
      backdrop-filter: var(--w-modal-backdrop-blur);
    }

    &-transparent {
      background-color: transparent;
    }
  }

  .w-modal__content {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    position: relative;
    width: calc(100% - 2 * var(--space-md));
    max-width: var(--w-modal-max-width, calc(100% - 32px));
    max-height: calc(100% - 7.5rem);
    background-color: #fff;
    border-radius: var(--w-radius-large);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    will-change: transform;
    transition: transform 0.3s;

    .w-modal__header {
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      gap: 0.25rem;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .w-modal__body {
      padding: 1rem 1.5rem;
      line-height: 1.5;
      word-wrap: break-word;
      max-height: calc(100vh - 200px);
      overflow-y: auto;

      &::before,
      &::after {
        content: '';
        display: flex;
        background-image: linear-gradient();
      }
    }

    .w-modal__footer {
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      border-radius: 0 0 var(--w-radius-large) var(--w-radius-large);
    }

    .w-modal__close-btn {
      margin: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      font-size: 1.65rem;

      &:hover {
        color: red;
      }
    }
  }

  &.is-centered {
    align-items: center;
  }

  &.is-bordered {
    --w-modal-border: 1px solid #f3f2f3;

    .w-modal__header {
      border-bottom: var(--w-modal-border);
    }

    .w-modal__footer {
      border-top: var(--w-modal-border);
    }
  }

  // placements
  @each $key, $val in $placements {
    &.w-modal__#{$key} {
      align-items: #{$val};
    }
  }
}

@media (min-width: 640px) {
  .w-modal {
    .w-modal__content {
      margin: 4rem 1.5rem;
    }
  }
}

.modal-enter-from {
  .w-modal__overlay {
    opacity: 0;
  }

  .w-modal__content {
    transform: scale(103%);
  }
}

.modal-leave-to {
  .w-modal__overlay {
    opacity: 0;
  }

  .w-modal__content {
    transform: scale(103%);
  }
}
