:where(.w-popover-content) {
    --popover-bg: #fff;
    --popover-gap: 8px;
}

.w-popover-anchor {
    position: absolute;
}

.w-popover-content {
    --w-popover-distance: 1em;
    --w-popover-size: 1.2em;

    position: absolute;
    bottom: var(--w-popover-distance);
    margin-top: var(--w-popover-gap);
    position-try-fallbacks: flip-block;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: var(--w-popover-size);
    }
}
